<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliBirri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    <link href="/css/home.css" rel="stylesheet">
    
</head>

<body class="body">
<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/Logo_DeliBirri_Finished.jpg" class="banner"></a>
        <h2 class="copy-header"><i class="parrafo-centrado"></i> 👉 ENVÍOS GRATIS Y SUPER RÁPIDOS EN PRODUCTOS MAYORES A $ 4000 👈 </h2>
    </div>
    
    <nav class="main-navbar">
    <ul class="left-navbar">
        <li><a href="#">Promociones</a><i class="fas fa-dollar-sign"></i></li>
        <li><a href="#">Vinos</a><i class="fas fa-wine-bottle"></i></li>
        <li><a href="#">Cervezas</a><i class="fas fa-beer"></i></li>
        <li><a href="#">Licores</a><i class="fas fa-glass-martini"></i></li>
    </ul>

    <ul>
        <li><a href="/register">Registrate</a><i class="fas fa-user"></i></li>
        <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Carrito de Compras</a><i class="fas fa-shopping-cart"></i></li>
    </ul>
    </nav>

    <div class="burger-menu">
        <i class="fas fa-ellipsis-h"></i>
        
    </div>

    
</header>


<footer>
    
</footer>
</body>
</html>