<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

<header>
    <nav class="navbar">
       
       <div>
     <a href="/" class="nav-branding"><img src="img/Logo_DeliBirri_v1.jpg" alt="logo" width="350" height="300"></a>
       
     <div class="hamburger">
   <span class="bar"></span>
   <span class="bar"></span>
   <span class="bar"></span>
   </div>
</div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/promociones" class="nav-link">Promociones <i class="fas fa-dollar-sign"></i></a>
            </li>
            <li class="nav-item">
                <a href="/vinos" class="nav-link">Vinos<i class="fas fa-wine-bottle"></i></a>
            </li>
            <li class="nav-item">
                <a href="/cervezas" class="nav-link">Cervezas <i class="fas fa-beer"></i></a>
            </li>
            <li class="nav-item">
                <a href="/licores" class="nav-link">Licores<i class="fas fa-glass-martini"></i></a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Registrate / Ingresá<i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Carrito de Compras<i class="fas fa-shopping-cart"></i></a>
            </li>
            <div>
              <form id="search-form">
                <input  placeholder="Buscar Productos.." name="search" class="round">
               <i class="fa fa-search"></i>
              </form>
            </div>
        </ul>
        </nav>
</header>

<section class="conteiner">
    <h2 class="title">Promociones</h2>
    <div class="products-conteiner">

        <div class="product" data-name="p-1">
            <img class="desierto25" src="/img/Desierto25-Malbec.jpeg" alt="">
            <h4 class="promo">35% off</h4>
            <div class="price">$7.267 ($̶11̶.̶1̶8̶0̶)</div>
            <h3 class="product-name">Cabernet Franc - Bodega Del Desierto x6 unidades</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-2">
            <img class="red-bull-24" src="/img/red-bull-24.jpg" alt="">
            <h4 class="promo">20% off</h4>
            <div class="price">$7.267 ($̶5̶.̶8̶1̶3̶)</div>
            <h3 class="product-name">Energizante Red Bull Sugar Free 250 Ml Caja X24 Unidades </h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-3">
            <img class="coca-cola" src="/img/coca-cola-2.25L.jpg" alt="">
            <h4 class="promo">20% off</h4>
            <div class="price">$2.056 ($̶2̶.̶5̶7̶0̶)</div>
            <h3 class="product-name">Gaseosa Coca Cola 2.25L Pack X6 Unidades</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-4">
            <img class="imperial-cream-scout-beer" src="/img/imperial-cream-stout-lata.jpg" alt="">
            <h4 class="promo">10% off</h4>
            <div class="price">$4.752 ($̶5̶.̶2̶8̶0̶)</div>
            <h3 class="product-name">Cerveza Imperial Cream Stout Negra Lata 473ml Pack X24 Promo</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

    </div>
</section>

<section class="conteiner">
    <h2 class="title">Cervezas</h2>
    <div class="products-conteiner">

        <div class="product" data-name="p-1">
            <img src="/img/cerveza-andes-rubia.jpg" alt="">
            <div class="price">$6.770</div>
            <h3 class="product-name">Cerveza Andes Origen Rubia Golden rubia lata 473ml 6 unidades</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-2">
            <img src="/img/cerveza-andes-ipa.jpg" alt="">
            <div class="price">$6.770</div>
            <h3 class="product-name">Cerveza Andes Origen IPA lata 473ml 6 unidades</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-3">
            <img src="/img/cerveza-andes-roja.jpg" alt="">
            <div class="price">$6.770</div>
            <h3 class="product-name">Cerveza Andes Origen Roja Vienna Lager roja lata 473ml 6 unidades</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-4">
            <img src="/img/cerveza-heineken-rubia.jpg" alt="">
            <div class="price">$6.770</div>
            <h3 class="product-name">Cerveza Heineken Rubia lata 473ml 6 unidades</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

    </div>
</section>
<br>
<section class="conteiner">
    <h2 class="title">Licores</h2>
    <div class="products-conteiner">

        <div class="product" data-name="p-1">
            <img class="baileys" src="/img/baileys-original-irish-cream-liqueur.jpg" alt="">
            <div class="price">$3.147</div>
            <h3 class="product-name">Baileys Licor Original Crema Irlandesa Irish 750ml</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-2">
            <img class='fernet-branca' src="/img/fernet-branca-1l.jpg" alt="">
            <div class="price">$2.103</div>
            <h3 class="product-name">Fernet Branca 1000ml (1L)</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-3">
            <img class='blue-coracao' src="/img/blue-coracao.png" alt="">
            <div class="price">$6.979</div>
            <h3 class="product-name">Licor BOLS BLUE CURACAO 700ml </h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-4">
            <img class='jagermeister' src="/img/jagermeister.jpg" alt="">
            <div class="price">$6.875</div>
            <h3 class="product-name">Jägermeister 700ml </h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

    </div>
</section>

<section class="conteiner">
    <h2 class="title">Vinos</h2>
    <div class="products-conteiner">

        <div class="product" data-name="p-1">
            <img class="cafayate" src="/img/cafayate-reserve-malbec.jpeg" alt="">
            <div class="price">$6.000</div>
            <h3 class="product-name">Vino tinto Malbec Cafayate Reserve bodega Etchart 750 ml</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-2">
            <img class="calia-tinto" src="/img/vino_callia_tinto.jpg" alt="">
            <div class="price">$471</div>
            <h3 class="product-name">Vino Callia Malbec X 750 Ml</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-3">
            <img class='calia-blanco' src="/img/vino_callia_blanco.jpg" alt="">
            <div class="price">$440</div>
            <h3 class="product-name">Vino Callia Tardio Rosado X 750 Ml</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

        <div class="product" data-name="p-4">
            <img class="trumpeter" src="/img/vino-trumpeter-malbec.png" alt="">
            <div class="price">$1.340</div>
            <h3 class="product-name">Vino Trumpeter Malbec 750ml Botella Tinto</h3>
            <div class="buttons">
                <a href="#" class="buy">Comprar ahora</a>
                <a href="#" class="cart">Añadir al carrito</a>
            </div>
        </div>

    </div>
</section>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Compañia</h4>
  	 			<ul>
                    
  	 				<li><a href="#">Sobre Nosotros</a></li>
  	 				<li><a href="#">Para Empresas</a></li>
  	 				<li><a href="#">Politica de Privacidad</a></li>
  	 		
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Ayuda</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Status de Envios</a></li>
  	 				<li><a href="#">Reeembolsos</a></li>    
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Nuestras Tiendas</h4>
  	 			<ul>
  	 				<li><a href="#">Ubicaciones</a></li>
  	 				<li><a href="#">Encuentra la tienda más cercana <i class="fas fa-search"></i></a></li>
  	 				<li><a href="#">Contacto</a></li>
  	 			</ul>
  	 		</div>
            
  	 		<div class="footer-col">
  	 			<h4>Seguinos en nuestras redes sociales</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-whatsapp"></i></a>
  	 			</div>
                   <small>&copy; Copyright 2022, DeliBerri Corporation</small>
  	 		</div>
  	 	</div>
        <li>Tel. +54 123-4567-890 (Matriz)</li>
        <li>cs@deliberri.com.ar</li>
  	 </div>
  </footer>

</body>
</html>
