<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

<header>
    <nav class="navbar">
        
        <a href="#" class="nav-branding"><img src="img/Logo_DeliBirri_v1.jpg" alt="logo" width="350" height="300"></a>
        
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Promociones <i class="fas fa-dollar-sign"></i></a>
            </li>
            <li class="nav-item">
                <a href="/vino" class="nav-link">Vinos<i class="fas fa-wine-bottle"></i></a>
            </li>
            <li class="nav-item">
                <a href="/cerveza" class="nav-link">Cervezas <i class="fas fa-beer"></i></a>
            </li>
            <li class="nav-item">
                <a href="/licores" class="nav-link">Licores<i class="fas fa-glass-martini"></i></a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Registrate / Ingresá<i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Carrito de Compras<i class="fas fa-shopping-cart"></i></a>
            </li>
            <div>
              <form id="search-form">
                <input  placeholder="Buscar Productos.." name="search" class="round">
               <i class="fa fa-search"></i>
              </form>
            </div>
        </ul>
        
<div class="hamburger">
   <span class="bar"></span>
   <span class="bar"></span>
   <span class="bar"></span>
</div>

    </nav>
</header>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Compañia</h4>
  	 			<ul>
                    
  	 				<li><a href="#">Sobre Nosotros</a></li>
  	 				<li><a href="#">Para Empresas</a></li>
  	 				<li><a href="#">Politica de Privacidad</a></li>
  	 		
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Ayuda</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Status de Envios</a></li>
  	 				<li><a href="#">Reeembolsos</a></li>    
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Nuestras Tiendas</h4>
  	 			<ul>
  	 				<li><a href="#">Ubicaciones</a></li>
  	 				<li><a href="#">Encuentra la tienda más cercana <i class="fas fa-search"></i></a></li>
  	 				<li><a href="#">Contacto</a></li>
  	 			</ul>
  	 		</div>
            
  	 		<div class="footer-col">
  	 			<h4>Seguinos en nuestras redes sociales</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
                   <small>&copy; Copyright 2022, DeliBerri Corporation</small>
  	 		</div>
  	 	</div>
        <li>Tel. +54 123-4567-890 (Matriz)</li>
        <li>cs@deliberri.com.ar</li>
  	 </div>
  </footer>

</body>
</html>
