<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

<header>
    <nav class="navbar">
		<div>
			<a href="/" class="nav-branding"><img src="img/Logo_DeliBirri_v1.jpg" alt="logo" width="350" height="300"></a>
			  
			<div class="hamburger">
		  <span class="bar"></span>
		  <span class="bar"></span>
		  <span class="bar"></span>
		  </div>
	   </div>

		<ul class="nav-menu">
            <li class="nav-item">
                <a href="/promociones" class="nav-link">Promociones <i class="fas fa-dollar-sign"></i></a>
            </li>
            <li class="nav-item">
                <a href="/vinos" class="nav-link">Vinos<i class="fas fa-wine-bottle"></i></a>
            </li>
            <li class="nav-item">
                <a href="/cervezas" class="nav-link">Cervezas <i class="fas fa-beer"></i></a>
            </li>
            <li class="nav-item">
                <a href="/licores" class="nav-link">Licores<i class="fas fa-glass-martini"></i></a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">Ingresá / Registrate<i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Carrito de Compras<i class="fas fa-shopping-cart"></i></a>
            </li>
            <div>
              <form id="search-form">
                <input  placeholder="Buscar Productos.." name="search" class="round">
               <i class="fa fa-search"></i>
              </form>
            </div>
        </ul>
        


    </nav>
</header>

<main class="background">

	<section class="conteiner">
		<h2 class="title">Licores</h2>
		<div class="products-conteiner">

		    <div class="product" data-name="p-1">
				<img class="baileys" src="/img/baileys-original-irish-cream-liqueur.jpg" alt="">
				<div class="price">$3.147</div>
				<h3 class="product-name">Baileys Licor Original Crema Irlandesa Irish 750ml</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-2">
				<img class='fernet-branca' src="/img/fernet-branca-1l.jpg" alt="">
				<div class="price">$2.103</div>
				<h3 class="product-name">Fernet Branca 1000ml (1L)</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-3">
				<img class='blue-coracao' src="/img/blue-coracao.png" alt="">
				<div class="price">$6.979</div>
				<h3 class="product-name">Licor BOLS BLUE CURACAO 700ml </h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-4">
				<img class='jagermeister' src="/img/jagermeister.jpg" alt="">
				<div class="price">$6.875</div>
				<h3 class="product-name">Jägermeister 700ml </h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

		</div>
	</section>

</main>




  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Compañia</h4>
  	 			<ul>
  	 				<li><a href="#">Sobre Nosotros</a></li>
  	 				<li><a href="#">Nuestros Servicios</a></li>
  	 				<li><a href="#">Politica de Privacidad</a></li>
  	 		
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Ayuda</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Envios</a></li>
  	 				<li><a href="#">Status de Envios</a></li>
  	 				<li><a href="#">Reeembolsos</a></li>
  	 				<li><a href="#">Opciones de Pago</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Nuestras Tiendas</h4>
  	 			<ul>
  	 				<li><a href="#">Ubicaciones</a></li>
  	 				<li><a href="#">Encuentra la tienda mas cercana <i class="fas fa-search"></i></a></li>
  	 				<li><a href="#">Otros</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Seguinos en nuestras redes sociales</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
