<!DOCTYPE html>
<html lang="en">

<head>  
      <title>Lista de productos</title>
      <%-include('./partials/head')%>
</head>

<body>
 
<h1 style="color:#FFFF">PARECE QUE CONECTó LA DATABASE</h1>
</body>

</html>