<!DOCTYPE html>
<html lang="en">

<head>
   <title>Lista de categorias</title>
   <%-include('../partials/head')%>
</head>

<body>
   <h1>LISTADO DE CATEGORIAS</h1>
   <br>
   <p>
      <a class="botonAgregar" href="/categorias/add">Agregar una Categoria</a>
      <a class="botonVolver" href="/">inicio</a>

   </p>
   <br>
   <div class="buscar-titulo">
      <form action="/categorias/buscar" method="POST">
         <input type="text" name="titulo" id="titulo">
         <button class="boton-buscar" type="submit">Buscar una Categoria</button>
      </form>

   </div>
   <ul>
      <% for( let i=0; i < category.length; i++ ) { %>
         <li>
            <a href="/categorias/detalle/<%= category[i].id %>">
               <%= category[i].name %>
            </a>
         </li>
         <% } %>

   </ul>
</body>

</html>