<!DOCTYPE html>
<html lang="en">

<head>  
      <title>Lista de productos</title>
      <%-include('../partials/head')%>
</head>

<body>
 
<%- include('../partials/header') %>
   

   <main>
      <% if (products.length> 0) { %>
         <ul>
            <% products.forEach(element=> { %>
               <%- include('../partials/product.ejs',{element:element}) %>
                  <% }) %>
         </ul>
         <% } else { %>
            <h2>
               No hay productos
            </h2>
            <% } %>
               <nav>
                  <a href="/productos/nuevo"> Nuevo</a>
               </nav>
   </main>

   <%-include('../partials/footer')%>

</body>

</html>