<!DOCTYPE html>
<html lang="en">

<head>
   
      <title>Lista de productos</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
 
<%- include('../partials/header') %>
   

   <main>
      <% if (products.length> 0) { %>
         <ul>
            <% products.forEach(element=> { %>
               <%- include('../partials/product.ejs',{element:element}) %>
                  <% }) %>
         </ul>
         <% } else { %>
            <h2>
               No hay productos
            </h2>
            <% } %>
               <nav>
                  <a href="/productos/nuevo"> Nuevo</a>
               </nav>
   </main>

   <%-include('../partials/footer')%>

</body>

</html>