
   <!DOCTYPE html>
   <html lang="en">
   <head>
      <title>DeliBerri</title>
      <link rel="icon" type="image/x-icon" href="../../../img/favicon.ico"/> 
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title><%= product.title %> </title>
</head>

<body>

    <%-include('../partials/header')%>

 <main>


      <h1 class="titulo">Editar un Producto</h1>
      <br>
      <section class="formulario">
         <form action="/productos/update" method="PUT">

            <label for="title">Nombre de Producto </label>
            <p><input type="text" name="title" id="title" required></p>

            <label for="title">Precio de Producto </label>
            <p><input type="text" name="price" id="price" required></p>

            <label for="title">Descripcion de Producto </label>
            <p><input type="text" name="description" id="description" required></p>

            <label for="promotion">Status de Promocion</label>
                  <select id="promotion" name="promotion">
                   <option value="0">Sin Descuento</option>
                   <option value="25">25%</option>
                   <option value="50">50%</option>
                   <option value="75">75%</option>
                 </select> 

            <label for="title">Imagen </label>
            <p><input type="image" name="image" id="image" required></p>
          
            <p> <button class="botonAgregar" type="submit">Editar</button>
               
               <a class="botonVolver" href="/categorias">Volver al Listado de Productos</a>
            </p>
         </form>
      </section>

</main>

</body>

<%-include('../partials/footer')%>

</html>