<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <%-include('../partials/head')%>
  <link rel="icon" type="image/x-icon" href="img/favicon.ico"/> 
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

	<%-include('../partials/header')%>

<main class="background">

	<section class="conteiner">
		<h2 class="title">Licores</h2>
		<div class="products-conteiner">

		    <div class="product" data-name="p-1">
				<img class="baileys" src="/img/baileys-original-irish-cream-liqueur.jpg" alt="">
				<div class="price">$3.147</div>
				<h3 class="product-name">Baileys Licor Original Crema Irlandesa Irish 750ml</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-2">
				<img class='fernet-branca' src="/img/fernet-branca-1l.jpg" alt="">
				<div class="price">$2.103</div>
				<h3 class="product-name">Fernet Branca 1000ml</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-3">
				<img class='blue-coracao' src="/img/blue-coracao.png" alt="">
				<div class="price">$6.979</div>
				<h3 class="product-name">Licor Bols Blue Coracao 700ml </h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-4">
				<img class='jagermeister' src="/img/jagermeister.jpg" alt="">
				<div class="price">$6.875</div>
				<h3 class="product-name">Jägermeister 700ml </h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">Añadir al carrito</a>
				</div>
			</div>

		</div>
	</section>

</main>



<%-include('../partials/footer')%>


</body>
</html>
