<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <%-include('../partials/head')%>
</head>
<body>

	<%-include('../partials/header')%>

<main class="background">

	<section class="conteiner">
		<h2 class="title">Vinos</h2>
		<div class="products-conteiner">

		    <div class="product" data-name="p-1">
				<img class="cafayate" src="/img/cafayate-reserve-malbec.jpeg" alt="">
				<div class="price">$6.000</div>
				<h3 class="product-name">Vino tinto Malbec Cafayate Reserve bodega Etchart 750 ml</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-2">
				<img class="calia-tinto" src="/img/vino_callia_tinto.jpg" alt="">
				<div class="price">$471</div>
				<h3 class="product-name">Vino Callia Malbec X 750 Ml</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-3">
				<img class='calia-blanco' src="/img/vino_callia_blanco.jpg" alt="">
				<div class="price">$440</div>
				<h3 class="product-name">Vino Callia Tardio Rosado X 750 Ml</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-4">
				<img class="trumpeter" src="/img/vino-trumpeter-malbec.png" alt="">
				<div class="price">$1.340</div>
				<h3 class="product-name">Vino Trumpeter Malbec 750ml Botella Tinto</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

		</div>
	</section>

</main>


<%-include('../partials/footer')%>

</body>
</html>
