<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

    <%-include('../partials/header')%>

<form class="formulario" method="POST" enctype="multipart/form-data">

    <div class="control-formulario">
        <label>Datos de Usuario</label>
        <input type="text" name="nombre" class="control" placeholder="Nombre/s" required>
    </div>

    <div class="control-formulario">
        <input type="text" name="apellido" class="control" placeholder="Apellido/s" required>
    </div>

    <div class="control-formulario">
        <input type="text" name="usuario" class="control" placeholder="Nombre de usuario" required>
    </div>

    <div class="control-formulario">
        <input type="email" name="email" class="control" placeholder="Correo Electronico" required>
    </div>

    <div class="control-formulario">
        <input type="password" name="password" placeholder="Contraseña" class="control" id='password' required >
    </div>

    <div class="control-formulario">
        <input type="password" name="confirm_password" placeholder="Confirmar contraseña" class="control" id='confirm_password' required>
    </div>

    <div class="control-formulario">
        <label>Fecha de nacimiento</label>
        <input type="date" name="fecha" class="control" required>
    </div>

    <div class="control-formulario">
        <label>Lugar de Nacimiento</label>
    </div>

    <div>
    <select name="pais" value="pais" id="pais" class="control"  placeholder="pais" required>
        <optgroup label="Pais">
            <option value="Argentina">Argentina</option>
          <option value="Colombia">Colombia</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Brazil">Brazil</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Chile">Chile</option>
          <option value="Perú">Perú</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Otros">Otros</option>
       </optgroup></select>
</div>

    <div class="control-formulario">
    
        <label>Categorías de interés</label>
     
    </div>

    <div class="control-formulario-checkbox">
       
        <label class="checkbox-label"><input type="checkbox" name="categoriaDeInteres" value="Cervezas" class="control">Cervezas</label>
        <label class="checkbox-label"><input type="checkbox" name="categoriaDeInteres" value="Licores" class="control">Licores</label>
        <label class="checkbox-label"><input type="checkbox" name="categoriaDeInteres" value="Vinos" class="control">Vinos</label>
        <label class="checkbox-label"><input type="checkbox" name="categoriaDeInteres" value="Bebidas No Alcoholicas" class="control">Bebidas No Alcoholicas</label>
        <label class="checkbox-label"><input type="checkbox" name="categoriaDeInteres" value="Otros" class="control">Otros</label>
    </div>

     <div class="control-formulario">
        <label>Imagen de perfil</label>
        <input type="file" name="avatar" accept="jpg/jpeg" class="control">
    </div>  



    <button onclick="registroUsuarioExitoso()" type="submit" class="boton-formulario">Guardar</button>
    <button type="reset" class="boton-formulario">Borrar</button>



    <div class="control-formulario">
        <a href="/login" class="otras-opciones">¿Ya tienes una cuenta? Ingresá!</a>
    </div>

</form>

<%-include('../partials/footer')%>

</body>

<script defer src="source\views\scripts\alerts.js"></script>

</html>
