<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

	<%-include('../partials/header')%>

<main class="background">

	<section class="conteiner">
		<h2 class="title">Cervezas</h2>
		<div class="products-conteiner">

		    <div class="product" data-name="p-1">
				<img src="/img/cerveza-andes-rubia.jpg" alt="">
				<div class="price">$6.770</div>
				<h3 class="product-name">Cerveza Andes Origen Rubia Golden rubia lata 473ml 6 unidades</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-2">
				<img src="/img/cerveza-andes-ipa.jpg" alt="">
				<div class="price">$6.770</div>
				<h3 class="product-name">Cerveza Andes Origen IPA lata 473ml 6 unidades</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-3">
				<img src="/img/cerveza-andes-roja.jpg" alt="">
				<div class="price">$6.770</div>
				<h3 class="product-name">Cerveza Andes Origen Roja Vienna Lager roja lata 473ml 6 unidades</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

			<div class="product" data-name="p-4">
				<img src="/img/cerveza-heineken-rubia.jpg" alt="">
				<div class="price">$6.770</div>
				<h3 class="product-name">Cerveza Heineken Rubia lata 473ml 6 unidades</h3>
				<div class="buttons">
					<a href="#" class="buy">Comprar ahora</a>
					<a href="#" class="cart">A単adir al carrito</a>
				</div>
			</div>

		</div>
	</section>

</main>




<%-include('../partials/footer')%>

</body>
</html>
