<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

	<%-include('../partials/header')%>

<main>
  
  <section class="conteiner-detalleProducto">
		<div class="products-conteiner-detalleProducto">

      <div class="product-detalleProducto" data-name="p-1">
        <picture class="product-image-detalleProducto"><img src="/img/cerveza-andes-rubia.jpg" alt="" class="product-imageconteiner-detalleProducto"></picture>
        <h3 class="product-name-detalleProducto">Cerveza Andes Origen Rubia Golden rubia lata 473ml 6 unidades</h3>
				<div class="price-detalleProducto">$6.770</div>
        <p class="description-detalleProducto">nvje bsvbhsibhvs hbfvlibsuhbv uihbvb vysbvui bvjhkb xvliys fgbvslnbd jlkvbhs iybjknbj fdkhsbvuisfnkvbsgbhyudfhv</p>

        <p class="stock-detalleProducto">Stock disponible</p>

        <div class="control-formulario-detalleProducto">
          <label class="control-formulario-titulo-detalleProducto">Cantidad</label>
          <input type="number" name="cantidad" class="control-detalleProducto" placeholder="1" required>
        </div>

				<div class="buttons-detalleProducto">
					<a href="#" class="buy-detalleProducto">Comprar ahora</a>
					<a href="#" class="cart-detalleProducto">Añadir al carrito</a>
				</div>
			</div>

		</div>
	</section>

</main>

  <%-include('../partials/footer')%>

</body>
</html>
